@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import 'libs/fontello.scss';
// base
@import 'base/variables';

// general style
* {
	font-family: 'Roboto', sans-serif;
}

// blocks
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/container';
@import 'blocks/countries';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/with_prengi';
@import 'blocks/solitions';
@import 'blocks/tabs';
@import 'blocks/swiper-container';
@import 'blocks/advantages';
@import 'blocks/deployment';
@import 'blocks/start';
@import 'blocks/footer';
// media
@import 'blocks/container_media';
@import 'blocks/swiper-container_media';
@import 'blocks/with_prengi_media';
@import 'blocks/solutions_media';
@import 'blocks/advantages_media';
@import 'blocks/deployment_media';
@import 'blocks/tabs_media';
@import 'blocks/countries_media';
@import 'blocks/header_media';
@import 'blocks/promo_media';
@import 'blocks/footer_media';
@import 'blocks/footer-accordion';
@import 'blocks/start_media';


// стили для скрытия - показа элементов
// visible and hidden styles
.visible-sm {
	display: none;
}

@media(max-width: 767.98px) {

	.visible-sm {
		display: block;
	}

	.hidden-sm {
		display: none;
	}
}