@media (max-width: 1200px) {
	.countries {
		padding: 10px 0;

		&-item {
			&__heading {
				font-size: 13px;
			}

			&__address,
			&__phone,
			&__mail-link {
				font-size: 11px;
				line-height: 18px;
			}
		}


	}
}