@media (max-width: 991px) {
	.countries {
		padding: 10px 0;

		&-item {
			&__heading {
				font-size: 12px;
			}

			&__text {
				margin-left: 0;
			}

			&__img {
				display: none;
			}

			&__address,
			&__phone,
			&__mail-link {
				font-size: 9px;
				line-height: 18px;
			}
		}


	}
}