.footer-accordion {
	.accordion {
		margin: 1rem 0;
		padding: 0;
		list-style: none;
		border-top: 1px solid #ffffff;

		&__item {
			border-bottom: 1px solid #ffffff;
		}

		&__caption {
			margin: 0;
			padding: .8rem 0;
			cursor: pointer;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			font-weight: 700;
			color: #ffffff;

			&::before {
				content: '';
				display: inline-block;
				height: 7px;
				width: 7px;
				margin-right: 1rem;
				margin-left: .5rem;
				vertical-align: middle;
				border-right: 1px solid;
				border-bottom: 1px solid;
				transform: rotate(-45deg);
				transition: transform .2s ease-out;
			}
		}

		&__img {
			margin-bottom: 14px;
		}

		&__text {
			font-size: 14px;
			margin-bottom: 0.5rem;
		}

		&__list-item {
			a {
				display: block;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5rem;
				color: #ffffff;

			}
		}

		&-panel {
			margin: 0;
			padding-bottom: 1.5rem;
			display: none;

			&_list {
				list-style: none;
			}
		}
	}

	/* active */
	&__item.is-active {
		.accordion__caption::before {
			transform: rotate(45deg);
		}
	}
}

// стили для скрытия - показа элементов
.visible-sm {
	display: none;
}

@media(max-width: 767.98px) {
	.visible-sm {
		display: block;
	}
}