@media (max-width: 991px) {
	.header {
		flex-direction: column;

		&__logo {
			margin-bottom: 32px;
		}

		&-nav {
			width: 100%;

			&__list {
				justify-content: space-around;
			}

			&__item {
				margin-left: 0;
			}
		}
	}
}