.start {
	padding-bottom: 80px;

	&-wrapper {
		width: 600px;
		margin: 0 auto;
		text-align: center;
	}

	&__img {
		width: 302px;
		height: 302px;
		margin: 0 auto;
		margin-bottom: 74px;

		img {
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 26px;
	}
}